<li class="news-block-item{% if not full %} small{% endif %}">
    <div class="news-category-wrapper">
        <a class="news-categories-link" href="{{block.category.get_absolute_url}}">{{block.category.title}}</a>
    </div>
    <h1 class="news-block-title">{{block.title}}</h1>
    <div class="news-block-content">
        <div class="news-block-body">
            <div class="news-block-text">
                {% autoescape off %}
                {{block.content}}
                {% endautoescape %}
            </div>
            <p class="news-block-created">{{block.created_at|date:"Y-m-d H:i"}}</p>
            {% if not full %}
            <a class="read-more-link" href="{{block.get_absolute_url}}">Read more</a>
            {% endif %}
        </div>
        <div class="news-block-image">
            {% if block.photo %}
            <img class="news-block-img" src="{{block.photo.url}}" alt="">
            {% else %}
            <span class="news-block-nophoto">no photo</span>
            {% endif %}
        </div>
    </div>
</li>

