:root {
    --main-x-padding: 20px;
    --main-y-padding: 40px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.header {
    padding: var(--main-y-padding) var(--main-x-padding);
    border-bottom: 1px solid #ececec;
}

.nav-list {
    display: flex;
}

.nav-list-item {
    margin-right: 16px;
}

.nav-list-link {
    padding: 4px;
    text-decoration: none;
    color: grey;
    border-bottom: 1px grey dashed;
}

.main {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.sidebar {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    padding: var(--main-x-padding) var(--main-y-padding);
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
}

.categories-item {
    padding: 6px;
    margin-bottom: 8px;
}

.categories-link {
    color: grey;
    border-bottom: 1px grey dashed;
    padding: 4px;
    text-decoration: none;
}

.content {
    flex-basis: 80%;
    flex-grow: 2;
    padding: var(--main-y-padding) 0;
}

.categories-title {
    font-size: 20px;
}

.news-block {
    padding-right: var(--main-x-padding);
}

.news-block-item.small .news-block-text p {
    height: 382px;
    overflow: hidden;   
}

.news-block-item {
    padding: var(--main-y-padding) 0;
}

.news-block-item:first-child {
    padding-top: 0;
}

.news-block-item:not(:last-child) {
    border-bottom: 1px solid #ececec;
}

.news-block-content {
    display: flex;
}

.news-block-image {
    width: 50%;
}

.news-block-body {
    width: 50%;
    padding-right: var(--main-x-padding);
    line-height: 20px;
}

.news-block-img {
    max-width: 100%;
    max-height: 500px;
}

.news-block-created {
    color: rgba(26, 9, 9, 0.685);
    font-size: 12px;
    font-style: italic;
}

.add-news-form {
    width: 780px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 24px var(--main-x-padding);
    background: #ececec;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 16px;
}

.form-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}

.form-group-textarea {
    align-items: flex-start;
}

.form-label {
    width: 20%;
    padding-right: 8px;
    text-align: right;
    font-size: 16px;
}

.form-control-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

.form-control {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    resize: vertical;
}

.form-control.checkbox {
    width: auto;
    align-self: flex-start; 
}

.form-button {
    margin-top: 16px;
    margin-left: auto;
    padding: 12px 16px;
    border: 1px solid #f2f2f2;
    background: rgba(0, 0, 255, 0.603);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}

